{% extends "layout/base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <h3 style="text-align: center;"><b>จัดการคอร์สออนไลน์</b></h3>
        <h5 style="float: left;"><i class="fa fa-chevron-left"></i><a href="{% url 'app:index' %}"> ย้อนกลับ</a></h5>
        <div class="col-lg-8 offset-lg-2">
            <div style="text-align: center;">
              <button type="submit" class="btn btn-createcourse mt-2">เพิ่มคอร์สเรียน</button>
            </div>
           <table class="manage_course my-4">
            <tr>
              <th>คอร์ส</th>
              <th>บทเรียน</th>
              <th>ราคา</th>
              <th>สถานะ</th>
              <th colspan="2">จัดการ</th>
            </tr>
            {% for video in video_list %}
            <tr>
              <td><a href="{% url 'video:management_chapter' id=video.id %}">{{ video.name }}</a></td>
              <td>{{ video.videolesson_set.count }}</td>
              <td>{{ video.price }} ฿</td>
              {% if video.published == True%}
              <td style="color: #0CB009;"><b>Published</b></td>
              {% elif video.published == False %}
              <td style="color: #FF0404;"><b>No Published</b></td>
              {% endif %}
              <td><a href="{% url 'video:update_course' id=video.id %}">แก้ไข</a></td>
              <td><a href="{% url 'video:video_delete' id=video.id %}" style="color: #FF0404;">ลบ</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
</div>
{% endblock %}
