{% extends "layout/base.html" %}

{% block content %}
<div class="subnav mb-5">
    <div class="container">
      <div class="pricetag">
        โปรโมชั่น
        <h3>฿{{ video.price }}</h3>
      </div>
      <h1>{{ video.name }}</h1>
      <a href="{% url 'video:index' %}"class='text-white'><i class="fa fa-chevron-left"></i>ย้อนกลับ</a>
    </div>
  </div>
  {% regroup video.get_chapter_set_with_ordered by chapter as chapter_list %}
        {% if video.videoexample %}
        <video id="videoplayer" controls width="400" height="300">
          <source src="http://192.168.1.6:8000{{video.videoexample.url}}" type="video/mp4" >
          Your browser does not support HTML5 video.
        </video>
        {% endif %}
        <div class="row g-5">
          <div class="col-lg-8">
            <div class="accordion mb-5" id="accordionExample">
              {% for chapter in chapter_list %}
                <div class="card">
                  <div class="card-header" id="heading{{ forloop.counter }}">

                      <button class="btn " type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ chapter.grouper }}
                      </button>

                  </div>

                  <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                    <div class="card-body">
                      <table class="table table-bordered table-hover">
                        <tbody>
                          {% for lesson in chapter.list %}
                            <tr>
                              <td>{{ lesson.name }}</td>
                              <td><i class="far fa-clock"></i> {{ lesson.duration_time }}</td>
                              {% if lesson.lessonvideo %}
                              {% if lesson.is_locked == False %}
                                <td><button videourl='http://192.168.1.6:8000{{lesson.lessonvideo.url}}' class="btn-play"><i class="far fa-circle-play"></i>videoplay</button></td>
                              {% elif lesson.is_locked == True %}
                                <td><i class="fa fa-lock"></i></td>
                              {% endif %}
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
      </div>
    </div>

      <div class="col-lg-4">
        <a href="#"class='btn btn-success btn-lg py-3 w-100'>สั่งซื้อคอร์สนี้</a>
        <div class="my-4">
          <h5>รายละเอียด</h5>
          {{ video.description }}
        </div>
        <div class="profile my-4">
          <h4>ประวัติผู้สอน</h4>

        </div>
      </div>


  <div class="container">
    <div class="row mb-4">
        <div class="col-lg-3">
            {% if video.image %}
            <img src="{{ video.image.url }}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="col-lg-9">
            <h1>{{ video.name }}</h1>
            <strong>Author</strong>
            <span class="">{{ video.member }}</span>
            <div class="mt-4 mb-4"></div>
            <h5 class="mb-4">฿ {{ video.price }} {{video.member.description}} {{video.member.user.first_name}}</h5>
            <img src="{{video.member.Profile_image.url}}" alt="" >
        </div>
    </div>
  </div>

{% endblock %}
