{% extends "layout/base.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h3 style="text-align: center;"><b>จัดการบทเรียน</b></h3>
          <div style="text-align: center;">
            <button type="submit" class="btn btn-addlesson mt-2">เพิ่มบทเรียน</button>
          </div>
          <table class="my-4">
            <tr>
              <th>หัวข้อหลัก</th>
              <th>บทเรียน</th>
              <th>ความยาว</th>
              <th>วิดีโอ</th>
              <th>สถานะ</th>
              <th>ลำดับ</th>
              <th colspan="2">Action</th>
            </tr>
            {% for lesson in lesson_list %}
            <tr>
              <td>{{ lesson.chapter.name}}</td>
              <td>{{ lesson.name }}</td>
              <td>{{ lesson.duration_time }}</td>
              <td>{{ lesson.lessonvideo }}</td>
              {% if lesson.is_locked == True %}
              <td style="color: #FF0404;">Locked</td>
              {% elif lesson.is_locked == False %}
              <td style="color:#0CB009">Free</td>
              {% endif %}
              <td>{{ lesson.ordered }}</td>
              <td>แก้ไข</td>
              <td><a href="{% url 'video:lesson_delete' id=lesson.id %}" style="color: #FF0404;">ลบ</a></td>
            </tr>
            {% endfor %}
          </table>

        </div>
    </div>
</div>
{% endblock %}
