body{
  font-size: 15px;
  background-color: #D6E1F9;
  font-family: 'Kanit', sans-serif;
}
.navbar-nav .nav-item .nav-link{
  color: #5179DC;
}
h2{
  text-align: center;
  color: #5179DC;
}
.navbar-nav .nav-item .nav-link:hover{
  color: #1548c7;
}
.navbar-search{
  position: relative;
}
.navbar-search .fa{
  position: absolute;
  left: 10px;
  top:10px;
  color: rgb(139, 139, 139);
}
.navbar-search .form-control{
  padding-left:30px ;
  font-weight: 300;
}
.card-course{
  transition: all 0.2s ease-in-out;
}
.card-course:hover{
  box-shadow: 0 2px 4px rgba(150, 150, 150, 0.4);
}
.card-course .card-body{
  position: relative;
}
.card-course .card-body .profile{
  position: absolute;
  width:50px;
  height:50px;
  top: -30px;
  right: 20px;
}
.card-course .card-body .profile img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 1);
}
.card-course .small{
  color: #999;
}
.card-course .rating{
  color:rgba(255, 255, 0, 0.8);
}
.card-course .rating span{
  color:#999;
  text-decoration: none;
}
.card-course h5{
  font-weight: 400;
}
.card-course h5>a{
  color: rgb(70, 70, 70);
  text-decoration: none;
}
.card-course h5>a:hover{
  color: #000;
  text-decoration:underline;
}
.dropdown-menu li {
  position: relative;
  }
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 99.7948%;
  top: -8.5px;
  }
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
.dropdown-item:hover {
  background-color: #5179DC;
  color: #FFF;
  transition: all 0.2s ease-in-out;
}
.btn-category {
  color: rgb(255, 255, 255);
  background-color: #5179DC;
}
.btn-category:hover {
  color: rgb(255, 255, 255);
  background-color: #3c68d9;
  transition: all 0.3s ease-in-out;
}
span {
  color: rgb(60, 60, 60)
}

.framesignin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #ffffff;
  border-radius: 20px;
}
.btn-signin{
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #5179DC;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.btn-signin:hover{
  color: #434343;
}
.signuplink-body .forgetpassword{
  font-size: 12px;
  text-align:right;
}
.signuplink-footer{
  font-size: 13.5px;
  text-align:center;
}
.form-label{
  color: #5179DC;
}
.btn-basesignin{
  color: rgb(255, 255, 255);
}
.btn-basesignin:hover{
  color: rgb(55, 55, 55);
}
.btngoogle{
  background: #FFF;
  border: 1px solid #CCC;
  float: left;
  margin-left: 48px;
  border-radius: 3px;
  width: 100px;
}
h5{
  text-align: left;
}
