{% extends "layout/baselogin.html" %}

{% load static %}
{% block title %} login {% endblock %}

{% block content %}
<div class="framesignin">
<div class="row">
    <div class="col-lg-8 offset-lg-2" >
      <div class="signuplink-body">
        <h2 class="mt-4"><b> SIGN IN </b></h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{form}}
            <div class="mb-2">
              <label for="exampleFormControlInput1" class="form-label" style="font-size: 14px;">อีเมล์</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <div class="mb-1">
              <label for="inputPassword2" class="form-label" style="font-size: 14px;">รหัสผ่าน</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="forgetpassword">
              <a href="#">ลืมรหัสผ่าน</a>
            </div>
            <button type="submit" class="btn btn-signin mt-2">เข้าสู่ระบบ</button>
            <div class="mt-2" style="text-align: center; font-size: 14px;">
              <i class="fa-thin fa-hyphen"></i>
              ― สามารถเข้าสู่ระบบผ่าน ―
            </div>

                <!-- <img class="btngoogle" src="{% static 'img/google.png' %}" alt="" > -->
                <img class="btngoogle" src="{% static 'img/facebook.png' %}" alt="" >

        </form>
    </div>
  </div>
      <div class="signuplink-footer mt-3">
      ยังไม่ได้สมัครสมาชิกใช่ไหม ? <a href="{% url 'app:signup' %}">คลิกที่นี่เพื่อสร้างผู้ใช้ใหม่</a>
      </div>
</div>



{% endblock %}
