

{% extends "layout/base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 style="text-align: center;"><b>เพิ่ม Chapter</b></h3>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <table border="1">
                {{form.as_table}}
                <tr>
                    <th>
                        First name:
                    </th>
                    <td>
                        <input type="text" value="{{ profile.user.first_name }}" name="firstname">
                    </td>
                </tr>
                <tr>
                    <th>
                        Last name:
                    </th>
                    <td>
                        <input type="text" value="{{ profile.user.last_name }}" name="lastname">
                    </td>
                </tr>
                </table>
                <button type="submit" class="btn btn-success">บันทึก</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
